.destination-section {
  background-size: cover;
  background-position: center;
  height: 700px;
}
.destination-section--hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
}
.destination-section--iceland {
  background-image: url("../assets/Images/iceland.jpg");
}
.destination-section--greece {
  background-image: url("../assets/Images/greece.jpg");
}
.destination-section__title {
  margin: 2rem 0 0 1rem;
  font-size: 4rem;
  color: white;
  padding: 5rem;
}
.destination-section__flex-container {
  display: flex;
  justify-content: center;
}
.destination-section__card {
  width: 250px;
  background: white;
  height: 365px;
  margin: 0 1rem;
  border-radius: 5px;
}
.destination-section__card-subtitle {
  text-align: center;
  border-bottom: 3px solid black;
  margin: 1rem;
}
.destination-section__card-list {
  margin: 2rem 1rem;
  text-align: center;
  padding: 0;
  display: flex;
  flex-flow: column;
  list-style: none;
}
.destination-section__card-item {
  background: #fefaf5;
  padding: 1rem 1.5rem;
  margin-bottom: 12px;
}
.primary-nav__link--hawaii-active {
  border-bottom: 3px solid #db7a4e;
}
.primary-nav__link--iceland-active {
  border-bottom: 3px solid #db7a4e;
}
.primary-nav__link--greece-active {
  border-bottom: 3px solid #db7a4e;
}