* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
.travel-header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: baseline;
}
.travel-header__title {
  color: #335576;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0rem 2rem;
}

.primary-nav {
}

.primary-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.primary-nav__item {
  justify-content: space-around;
  align-items: space-around;
  list-style: none;
}

.primary-nav__link {
  text-decoration: none;
  padding: 1rem;
  color: black;
  display: inline-block;
}

.primary-nav__link--home-active {
  border-bottom: 2px solid #db7a4e;
}

.primary-nav__link--hawaii-active {
  border-bottom: 2px solid #db7a4e;
}

.primary-nav__link--iceland-active {
  border-bottom: 2px solid #db7a4e;
}

.primary-nav__link--greece-active {
  border-bottom: 2px solid #db7a4e;
}

main section {
  height: 50vh;
}

.travel-footer {
  display: flex;
  background: #fefaf5;
  justify-content: space-around;
}

.contact-section {
}
.contact-section__title {
  color: #335576;
}
.email-details {
}
.email-details__title {
  color: #db7a4e;
}
.email-details__website {
  color: #335576;
}

.hours-section {
}
.hours-section__title {
  color: #335576;
}
.days-info {
}
.days-info__weekday {
  color: #db7a4e;
}
.days-info_time {
  color: #335576;
}
.weekend-sat {
}

.weekend-sat__info {
  color: #db7a4e;
}
.weekend-sat__time {
  color: #335576;
}
.weekend-sun {
}
.weekend-sun__info {
  color: #db7a4e;
}
.weekend-sun__time {
  color: #335576;
}

.social-section {
}
.social-section__title {
  color: #335576;
}
.social-media-icons {
}
